extends base

block content
    center
        div(style="margin: 10px; max-width: 450px;")
            each category in productCategories 
                if category._id !== productCategory
                    a(href=`/products/category/${category._id}`, style="margin: 10px; text-decoration: none;") #{category._id}

    center
        div(style="margin: 10px; max-width: 250px;")
            each option in [{value: 'default', text: "Default"}, {value: 'ascprice', text: 'Ascending'}, {value: 'descprice', text: 'Descending'}]
                a(href=`${pageUrl}?sort=${option.value}`, style="margin: 10px; text-decoration: none;") #{option.text}
    
    each product in products 
        center
            div(style="border: 1px grey solid; margin: 10px; max-width: 270px;")
                p= product.title.substr(0, 35) + '...'
                a(href=`/products/${product._id}`) 
                    img(src=product.image, style="width:150px;height:150px", href="/")
                p $#{product.price}

                form(action=pageUrl, method="post")
                    button(type="submit", style="margin: 10px;") Add to Cart